body{
    font-family: 'oswald', sans-serif;
    /* background-color: rgb(236, 236, 236) ; */
}

#title-head h1{
    color: rgb(0, 0, 0);
}

#navbar{
    font-size: 1.5rem;
    font-weight: 500;
    /* background-color: #ccbb86; */
}

#navbar .nav-link{
    color: rgb(0, 0, 0);
}

#navbar .nav-link:hover{
color: rgb(253, 236, 138);
}

#navbar .navbar-brand{
    color: rgb(5, 5, 5);
    font-size: 1.5rem;
}

#navbar .navbar-brand-hover:hover{
    color: rgb(253, 236, 138);
}
.navbar.scrolled{
    background-color: rgb(59, 56, 56);
    /* transition: background 500ms; */
}

#home{
    background-color: rgb(150, 204, 186);
}

#Profile{
    text-align: center;
}

#illustration{
    background-color: rgb(150, 204, 186);
}



