body{
    font-family: var(--font-family);
    /* background-color: #fff8c7 ; */
    /* background-image:linear-gradient(to bottom right, #ffffff , #fff8c7); */
}
:root{
    --primary-color: #ccbb86;
    --secondary-color: #fff8c7;
    --text-color: #000000;
    --background-color: #ffffff;
    --font-family: 'Poppins';
    --h1fs: bold 57px/57px;
    --h2fs: bold 25px;
    --sub1fs: 20px;
    --sub2fs: 18px;
    --body1fs: 16px;
    --body2fs: 14px;
}
h1{
    color: rgb(0, 0, 0);
}

#navbar{
    font-size: 1rem;
    font-weight: 500;
    /* background-color: #ccbb86; */
    padding-bottom: 0px;
}

#navbar .nav-link{
    color: rgb(0, 0, 0);
}

#navbar .nav-link:hover{
color: rgb(207, 207, 204);
}

#navbar .navbar-brand{
    color: rgb(5, 5, 5);
    font-size: 1.5rem;
}

#navbar .navbar-brand-hover:hover{
    color: rgb(207, 207, 204);
}
.navbar.scrolled{
    background-color: rgb(59, 56, 56);
    /* transition: background 500ms; */
}

.coll{
    padding: 100px 50px 100px 50px;
    margin: 100px 300px 100px 300px;
}
.hero{
    padding: 50px 50px 100px 50px; 
}
#home{
    margin: 100px 300px 100px 300px;
    /* padding: ; */


}

#Profile{
    text-align: center;
    margin: auto;
}

#illustration{
    /* background-image: linear-gradient(to bottom right, #ffffff , #fff8c7); */
    /* background-color: #fff8c7 ; */
}

.header1{
    background-image: url(/img/drw2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



